* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #1f2633;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 5vh 20px 0 20px;
  max-width: 60vh;
  padding: 10vh;
  border-radius: 15%;
  background-image: linear-gradient(
    to right bottom,
    #3a8c7e,
    #589d81,
    #77ad85,
    #97bc89,
    #b9cb90
  );
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 17px;
}

.form-button {
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.form-button:hover {
  background-color: orange;
}

.Form input {
  padding: 3px;
  font-size: 15px;
}
